.card_user{
    width: 100%;
}
.fot{
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5%;
}
.card-text{
    font-size: 60%;
}
.forma{
    margin-top: 5%;
}
.perf{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;

}
.fotPerf{
    border:5px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.nombre{
    margin:0 auto;
    font-size: 200%;
    background-color:#79c9c9e0;
    border:5px solid #79c9c9;
    padding: 2%;
    border-radius: 30px;
    color:#0d6efd;
    font-weight: bolder;
    text-align: center;
    width: max-content;
}
.fond{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.descriptext{
    font-size: 200%;
}
.descript{
    margin: 0;
    padding-right: 5%;
    height: 200px;
    font-family: Arial;
}
.conten{
    background-color:white;
    width: 90%;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
}
.contenti{
    font-size: large;
}
.datitos{
    background-color:#79c9c9;
    margin:0 auto;
    justify-content: space-around;
}
.prueba{
    padding:0;
    margin: 0 auto
}
