.card{
    margin-top: 10px;
    margin-right: 10px;
}
.Publi-text{
    font-style: italic;
    text-decoration: underline;
    font-size:100%;
}
.imagenes{
    width:100px;
    height:100px;
    float:left;
    border-radius: 50%;
    margin-right: 30px;
}